<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 물건구매와 관련한 mapperxml -->
<!-- projectG2의 변형판 -->
<!-- selProduct, updProduct를 약간 변형해서 다른방법이 있는지 연구하는 용도로만 사용한다 -->
<mapper namespace="com.green.projectg3.product.ProductMapper">
    <!-- 구매할 상품을 추가하고 싶다면 추가할것 -->
    <!-- t_purchase_product라는 db 내에 있는 모든 테이블을 불러 데이터를 하나하나 조회하도록 한다 -->
    <insert id="insProduct" useGeneratedKeys="true" keyProperty="productPk">
        INSERT INTO t_purchase_product
        SET user_pk = #{userPk}, category_pk = #{categoryPk},
        product_nm = #{productNm}, memo = #{memo}
    </insert>


</mapper>
